---
import fonts from 'tint/fonts'
import Header from '@src/components/Header.astro'
import Footer from '@src/components/Footer.astro'

interface Props {
  title?: string
  description?: string
  flexCenter?: boolean
}

const { title, description } = Astro.props

const siteName = 'Archive'
const pageTitle = title ? `${title} | ${siteName}` : siteName
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {description && <meta name="description" content={description} />}
    {
      Object.values(fonts).map((item) => (
        <link
          rel="preload"
          href={item}
          as="font"
          type="font/woff2"
          crossorigin
        />
      ))
    }
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Archive" />
    <link rel="manifest" href="manifest.json" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main class:list={[Astro.props.flexCenter ? 'flex-center' : '']}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global lang="sass">
  @use "../styles/global"

  body
    min-height: 100%
    display: flex
    flex-direction: column
  main
    flex: 1
    &.flex-center
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
</style>
